*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contrainer{
    height: 100%;
    width: 250px;
    position: absolute;
    background-color: #022ba8;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(0);
}
.contrainer .head{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: linear-gradient(30deg,#022ba8,#022ba8);
}
ol{
    width: 100%;
    list-style: none;
}
ol li {
    display: block;
    width: 100%;
}
ol li a{
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    text-transform: capitalize;
}
ol li a i{
    width: 70px;
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
}
ol li a:hover{
    color: #000000;
    background: #022ba8;
    letter-spacing: 5px;
}
input{
    .webkit-appearance: none;
    visibility: hidden;
    display: none;
}
span{
    position: absolute;
    right: -40px;
    top: 30px;
    font-size: 25px;
    border-radius: 3px;
    color: white;
    padding: 3px;
    cursor: pointer;
    background: #022ba8;
}
#bars{
    background: red;
}
#check:checked ~ .contrainer{
    transform: translateX(0);
}
#check:checked ~ .contrainer #bars{
    transform: translateX(0);
}
section{
    min-height: 100vh;
    background: url(img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    filter: brightness(60%);
    padding: 20px;
    color: white;
}
#check:checked ~ section{
    transform: scale(1.2);
    filter: brightness(20%);
}
body{
    overflow: hidden;
}